# Next.js build outputs
.next/
out/
build/
dist/

# Dependencies
node_modules/
jspm_packages/
.pnp
.pnp.js

# Environment variables (Must never be committed)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example.local

# Debug and application logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Coverage directories
coverage/
.nyc_output/

# Testing reports and caches
playwright-report/
test-results/
.jest/
.eslintcache

# Turbo and tool configs
.turbo/
.vercel

# IDEs and text editors
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Operating System files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs.db:encryptable
Desktop.ini
.DS_Store

# Temporary files
*.tmp
*.bak
